// style.syl

*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;

html, body
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    color #535353
    background: #FAFAF7;
    -webkit-font-smoothing: antialiased;
    font-family:AllerLightRegular, sans-serif;

article header
    height: 150px;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    background: rgb(203, 55, 54);
    div.content
        width: 100%;
        height: 100%;
        max-width: 1024px;
        margin: auto;
        div.settings
            height:50px;
            width:100%;
            background:blue;
        div.logo
            background: url("../images/logo.png") no-repeat;
            height: 62px;
            width: 246px;
            margin: 19px 0 0 20px;
            display: inline-block;
        div.menu
            float: right;
            height: 100px;
            vertical-align: middle;
            line-height: 100px;
            margin-right: 20px;
            a
                font-family: AllerRegular;
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: 19px;
                margin 0 10px
            img.avatar
                width:50px;
                height:50px;
                border-radius:50px;
                position: relative;
                top: 20px;

section
    max-width:1024px
    margin:0 auto;

section h2
    height: 80px;
    line-height: 80px;
    font-family: AllerRegular, sans-serif;

section.results h2, section.fav h2
    padding: 0 0 0 20px;
    margin: 50px 0 0 0;
    height: 80px;
    line-height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(250, 250, 247);

section.fav h2 span
    font-size: 70px;
    line-height: 70px;
    float: left;
    color: rgb(255, 219, 116);
    margin-right: 10px;

section.search
    margin: 150px auto 0;
    line-height: 100px;
    height: 100px;
    input
        width: 100%;
        border: none;
        height: 100px;
        background: rgb(243, 241, 236);
        font-size: 25px;
        color: #535353;
        padding: 20px;
        outline:none;
    input::-webkit-input-placeholder
        color: #535353;


table
    width 100%
    border-spacing: 0px;
    border-color: transparent;
    tr
        background-color: rgb(255, 255, 255);
        border:none;
        td
            border-bottom: 3px solid rgb(250, 250, 247);


.author
    color: rgb(116, 192, 200);
    font-family: AllerRegular, sans-serif;
dt
    color: #817F7C;
    margin: 20px 20px 10px 20px;

dd
    margin: 10px 20px 20px 20px;

strong.package-name
    font-family: AllerLightRegular, sans-serif;
    font-size: 20px;

footer
    height: 50px;

span.star
    color: rgb(255, 219, 116);
    font-size: 36px;
    vertical-align: sub;


td:nth-child(2n)
    text-align: right;
    padding-right: 20px;
    vertical-align: middle;
